@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
}

.close {
    display: none;
}

.left {
    width: 20vw;
    padding: 10px;
}

.right {
    width: 77vw;
}

.home ul li {
    display: flex;
    gap: 3px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 100%;

}

.heading img {
    width: 30px;
}

.library {
    min-height: 75vh;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    padding: 4px 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    /* Distributes space between items */
    background-color: rgb(34 34 34);
    border-radius: 10px;
}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 10px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}


.cardContainer {
    margin: 10px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    overflow-y: auto;
    /* overflow-x: s; */
    max-height: 70vh;
    padding-bottom: 100vw;
    scrollbar-color: rgb(34 34 34);
}

/* .cardContainer .scrollbar none */
.cardContainer::-webkit-scrollbar {
    width: 8px;
    right: opx;
    display: none;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transform: all .9s;

}

.card:hover {
    background-color: rgb(136, 135, 135);
    cursor: pointer;
    --a: 1;

}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.bottons>* {
    margin: 0 12px;
}

.signubutton {
    background-color: #252525;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signubutton:hover {
    font-size: 17px;
    color: white;
}

.loginbutton {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;

}

.loginbutton:hover {
    font-weight: bold;
    padding-inline: 11px;


}

.Playbar {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 76vw;
    min-height: 40px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songlist {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerCont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songlist ul {
    padding: 0 12px;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songlist .info {
    font-size: 13px;
    width: 344px;
    overflow: hidden;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;

}

.seekbar {
    height: 4px;
    width: 97%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow-wrap: anywhere;

}

.songbuttons img {
    cursor: pointer;
    color: black;
    padding: 0 12px;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;

}

.songtime {
    color: black;
    padding: 0 12px;
    width: 105px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    /* margin: 25px; */

}
.range input{
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all .2s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
    }

    .songinfo {
        width: auto;
    }

    .info div {
        word-break: break-all;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px; 


    }

   

    .right {
        width: 100vw;
    }

    .Playbar {
        width: calc(100vw - 25px);
        
        
    }

    .seekbar {
        width: calc(100vw - 45px);
        
    }

    .hamburger {
        display: block;
    }

    .scrollbar {
        display: hidden;
    }

    .card {
        width: 44vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
        max-height: 50vh;
    }

    .close {
        display: block;
    }

    .play {
        width: 28px;
        height: 28px;
        background-color: #1fdf64;
        border-radius: 50%;
        padding: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 88px;
        right: 17px;
        opacity: var(--a);
        transition: all 0s ease-out;
    }
    .songbuttons {
        display: flex;
        justify-content: center;
        gap: 1px;
    }
    .songbuttons img {
        cursor: pointer;
        color: black;
        padding: 0 6px;
    }
    .range{

    }

}

@media (max-width: 1200px) {
    .card {
        width: 84vw;
    }
}